@page
@model IntroduccionRazor_ASPNet.Pages.Programa2Model
@{
}

<h3>
	Programa 2: Cifrado César
</h3>
<form method="post">
    <p>
        Mensaje a cifrar:
        <input asp-for="MensajeOriginal" type="text" />
    </p>
    <p>
        Número de posiciones (n):
        <input asp-for="N" type="number" min="1" />
    </p>
    <p>
        <input type="submit" value="Cifrar mensaje" />
    </p>
</form>
@if(!string.IsNullOrEmpty(Model.MensajeCifrado))
{
    <h4>
        Mensaje cifrado:
    </h4>
    <p>
        @Model.MensajeCifrado
    </p>
}
