@{

}

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-12 d-flex align-items-center justify-content-center">
            <img src="~/img/image.png" alt="Imagen Formal de CV" />
        </div>
        <div class="row col-lg-8 col-md-8 col-sm-12 col-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex align-items-center justify-content-center">
                <h1 class="text-center">
                    Francisco Javier Rocha Aldana
                </h1>
            </div>
            <div class="row col-lg-12 col-md-12 col-sm-12 col-12 align-items-center justify-content-center">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 d-flex align-items-center justify-content-center">
                    <a href="/">
                        Inicio
                    </a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 d-flex align-items-center justify-content-center">
                    <a href="/Academica">
                        Preparaci&oacute;n Acad&eacute;mica
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-3">
            <h1>
                Experiencia Laboral
            </h1>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <p>
                <ul>
                    <li>
                        <h3>
                            Consultoria KSP:
                        </h3>
                    </li>
                </ul>
                <strong>
                    Desarrollador .NET en HDI Seguros por parte de KSP
                </strong>
                <br/>
                Desde: 07 de Enero del 2025 - Actualmente
                <br/>
                Desarrollo de Microservicios y mantenimiento a estos mismos en un proyecto interno, me encargo tambien de optimizar consultas o SP en la base de datos
                para reducir los tiempos de consulta en la base de datos
                <br/>
                <ul>
                    <li>
                        <h3>
                            Consultoria AlmaximoTI:
                        </h3>
                    </li>
                </ul>
                <strong>
                    Desarrollador FullStack en varios proyectos
                </strong>
                <br />
                Desde: 02 de Febrero del 2023 - 01 de Enero del 2025
                <br />
                Al principio me tenian viendo cursos durante todo un año, y despues me metieron a un proyecto para Mazda en el cual desarrolle en tecnologias como
                SQL Server, ASP .NET Core y Angular de la 6 a la 16 ya que migramos el proyecto.
                <br/>
                Aprendi a dominar las tecnologias ya que durante un a&ntilde;o estuve en ese proyecto para despues cambiarme a un proyecto de SAPAL en SQL Server
                ASP .NET Core y VUE3 con Quasar
            </p>
        </div>
    </div>
</div>
