<div class="card">  
  <h1>
    Aplicación Tareas Angular
  </h1>
  <form>
    <div class="form-group">
      <label>
        Tarea:
      </label>
      <input type="text" [(ngModel)]="nombreTarea" [ngModelOptions]="{standalone: true}" class="form-control" id="nombreTarea" placeholder="Nueva Tarea">
    </div>
    <button type="submit" class="btn btn-primary mt-4" (click)="guardar()">
      Guardar
    </button>
  </form>
  <div class="container mt-4">
    <h1>
      Lista Tareas
    </h1>
    <table class="table">
      <thead>
        <h2 *ngIf="!isResultLoaded">
          Cargando Datos....
        </h2>
        <tr>
          <th scope="col">
            ID
          </th>
          <th scope="col">
            Tarea
          </th>
          <th scope="col">
            $nbp;
          </th>
          <th>

          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tarea of listaTareas">
          <td>
            {{ tarea.tareaId }}
          </td>
          <td>
            {{ tarea.nombre }}
          </td>
          <td>
            <button type="button" class="btn btn-success" (click)="obtenerTarea(tarea)">
              Editar
            </button>
            &nbsp;
            <button type="button" class="btn btn-danger" (click)="eliminarTarea(tarea)">
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="container mt-4">
    <h1>
      Aplicaci&oacute;n Angular Empleados
    </h1>
    <a routerLink="/empleados" class="btn btn-primary">
      Ir a Empleados
    </a>
    <router-outlet></router-outlet>
  </div>
</div>
