@{

}

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-12 d-flex align-items-center justify-content-center">
            <img src="~/img/image.png" alt="Imagen Formal de CV" />
        </div>
        <div class="row col-lg-8 col-md-8 col-sm-12 col-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex align-items-center justify-content-center">
                <h1 class="text-center">
                    Francisco Javier Rocha Aldana
                </h1>
            </div>
            <div class="row col-lg-12 col-md-12 col-sm-12 col-12 align-items-center justify-content-center">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 d-flex align-items-center justify-content-center">
                    <a href="/">
                        Inicio
                    </a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 d-flex align-items-center justify-content-center">
                    <a href="/Laboral">
                        Experiencia Laboral
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-3">
            <h1>
                Preparaci&oacute;n Acad&eacute;mica
            </h1>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <p>
                <ul>
                    <li>
                        <h3>
                            Universidad:
                        </h3>
                    </li>
                </ul>
                <strong>
                    Universidad Tecnol&oacute;gica de Le&oacute;n
                </strong>
                <br/>
                Actualmente me encuentro cursando el 9<sup>no</sup> cuatrimestre de la Ingenieria. Ya tengo en mi posesion el titulo de TSU en Desarrollo de Software
                Multiplataforma
                <br/>
                Adiccional a esto y no conforme con lo aprendido, actualmente tengo algunas certificaciones en cursos en la plataforma de Udemy en la cual estudio
                de maner autodidacta.
                <br/>
                Algunos de los cursos son:
                <br/>
                <ul>
                    <li>
                        Springboot
                    </li>
                    <li>
                        Flutter
                    </li>
                    <li>
                        Python
                    </li>
                    <li>
                        ASP .NET CORE
                    </li>
                    <li>
                        VUE
                    </li>
                    <li>
                        Angular
                    </li>
                    <li>
                        Unreal Engine
                    </li>
                </ul>
            </p>
        </div>
    </div>
</div>
